<IfModule mod_rewrite.c>
RewriteEngine On

# Ne pas réécrire les fichiers et dossiers existants (CSS, Images, JS, API, Admin...)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Envoyer tout le reste au routeur index.php
RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
